
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.1s linear;
}

section {
    padding: 2rem 2rem;
    margin: 20vh auto;
    max-width: 1200px;
}

body {
    background-color: #000000;
}

.main {
    background-image: url(img/fundomundial.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    margin-top: 20vh;
}


.header {
    background-color: black;
    padding: 20px;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #df9713;
    margin-bottom: 10px;

}

.logo {
    margin-bottom: 10px;
}

.logo img {
    height: 7vh;

}

.header h2 {
    font-size: 3.0rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.header span {
    color: #df9713;
    margin: 0 5px;
}


nav a {
    color: rgb(206, 206, 206);
    font-size: 1.2em;
}

.custom-navbar {
    background-color: #000000;
    padding-top: 1px;

}

.carousel-item img{
    width: 50%;
}

.nav-link:hover {
    color: #df9713;
}

.navbar-brad:hover {
    color: #df9713;
}

main h2 {
    font-size: 3.0rem;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

main h2 span {
    color: #df9713;
    padding: 0 20px;
}

.container {
    border-radius: 20px;
    border: 1px solid #df9713;
    background-color: transparent;
    padding: 30px;
    width: 60%;
}

.container:hover {
    transform: scale(1.04);
    color: #fffefde0;
}

.content {
    font-size: 1.0rem;
    color: #fff;
    font-weight: 250;
}

.part-two {
    margin-top: 50vh;
    height: 50vh;
    background-image: url(img/fundomundial2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center right;
}

.container-two {
    border-radius: 20px;
    border: 1px solid #df9713;
    background-color: transparent;
    margin: 0 auto;
    width: 60%;
}

.container-two:hover {
    transform: scale(1.04);
}

.content-two {
    font-size: 1rem;
    color: #fff;
    font-weight: 250;
    padding: 20px;
}

.section h2 {
    font-size: 3.0rem;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    flex-wrap: wrap;

}

.section h2 span {
    color: #df9713;
    padding: 0 20px;
}

p {
    flex-wrap: wrap;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carrossel {
    max-width: 100%;
    width: 40%;
    display: grid;
    margin: auto;

}

.fundo2 img {
    height: 50vh;


}

.fundo2 {
    display: flex;
    gap: 10vh;
}

.navbar-toggler {
    border: none;
    outline: none;
    display: flex;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #df9713;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #df9713;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}

.dropdown-menu {
  background-color: black;
  border-radius: 10px;
  border: none;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border: 1px solid #fff;
}

.dropdown-item {
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #df9713;
  transform: translateX(5px);
  color: black;
}

@media screen and (max-width:1000px) {
    .fundo2 {
        flex-direction: column;
        display: flex;
        width: 100%;

    }

    .custom-navbar {
        justify-content: right;
        align-items: center;
        font-size: 0.8rem;
    }

    .container {
        width: 100%;

    }

    .header {
        justify-content: center;
    }

    .header h2 {
        font-size: 1.0rem;
        padding: 5px;
    }

    .logo img {
        height: 4vh;

    }

    .navbar-toggler {
        justify-items: end;
        justify-content: end;
        align-items: end;
        display: flex;

    }


    .navbar-collapse {
        background-color: #000000;
   
        top: 100%;
        left: 0;
        right: 0;
        z-index: 9999;
       

    }

    .navbar-toggler {
        z-index: 10000;
        position: relative;

    }

}






.carrossel {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.carousel-custom {
    width: 90%;
    max-width: 360px;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px #00000055;
    margin-top: 5%;
    display: grid;
    align-items: center;

}


.button {
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 16px;
  border: none;
  padding: 2px;
  background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
  position: relative;
  display: inline-block; 
  margin: 0 auto;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.button::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 60%;
  border-radius: 120px;
  top: 0;
  right: 0;
  box-shadow: 0 0 20px #ffffff38;
  z-index: -1;
}

.blob1 {
  position: absolute;
  width: 70px;
  height: 100%;
  border-radius: 16px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle 60px at 0% 100%,
    #3fe9ff,
    #0000ff80,
    transparent
  );
  box-shadow: -10px 10px 30px #0051ff2d;
}

.inner {
  padding: 14px 25px;
  border-radius: 14px;
  color: #fff;
  z-index: 3;
  position: relative;
  background: radial-gradient(circle 80px at 80% -50%, #df9713, #000000);
  font-weight: 600;
}

.inner::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 14px;
  background: radial-gradient(
    circle 60px at 0% 100%,
    #d0ff0037,
    #0000ff11,
    transparent
  );
  position: absolute;
}

